<html>
	<head>
		<title>Git Branch Namer</title>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <link rel="stylesheet" href="styles.css">
		<link
			rel="icon"
			type="image"
			href="https://cdn.iconscout.com/icon/free/png-512/git-branch-2336962-1982843.png?f=avif&w=256"
		/>
	</head>
	<body>
		<div id="app">

            <h1>Branch Namer 2.0</h1>

			<div id="options">
				<span>
					<label for="maxChars"> Max Chars: </label>
					<input
						id="maxChars"
						type="text"
						v-model="maxChars"
						v-on:keyup="slugify"
						size="3"
					/>
                </span>
                <span>
					<label for="slugCharacter"> Slug: </label>
					<select id="slugCharacter" v-model="slugChar" v-on:change="slugify">
						<option value="-">- (hyphen)</option>
						<option value="_">_ (underscore)</option>
					</select>
				</span>
			</div>


			<v-textarea
				ref="inputBox"
				v-model="inputText"
				:cols="maxChars < 128 ? maxChars : 128"
				rows="1"
				multiple="true"
				placeholder="work item"
				v-on:change="slugify"
				v-on:keyup="slugify"
				aria-label="Input"
			/></v-textarea>

            <div id="story-type">
				<input
					type="radio"
					id="us"
					value="feature/"
					v-on:change="slugify"
					v-model="storyType"
				/>
				<label for="us">User Story</label>
				<input
					type="radio"
					id="bug"
					value="bug/"
					v-on:change="slugify"
					v-model="storyType"
				/>
				<label for="bug">Bug</label>
				<input
					type="radio"
					id="hotfix"
					value="hotfix/"
					v-on:change="slugify"
					v-model="storyType"
				/>
				<label for="hotfix">Hot Fix</label>
			</div>

			<div id="result">
				<span @click="copyToClipboard">
					{{ outputText }}</span
				>
				<button
					v-on:click="copyToClipboard"
					:disabled="this.copyText=='Copied!'"
				>
					{{copyText}}
				</button>
			</div>
		</div>

		<script>
			var app = new Vue({
				el: "#app",
				data: {
					inputText: "",
					outputText: "",
					storyType: "feature/",
					slugChar: "_",
					maxChars: 80,
					copyText: "Copy",
				},
				mounted() {
					this.focusInput();
				},
				methods: {
					focusInput() {
						this.$refs.inputBox.focus();
					},
					slugify: function () {
						var replaceAll = "[\\W" + this.slugChar + "]+";
						var reAll = new RegExp(replaceAll, "g");

						var trimEnd = this.slugChar + "$";
						var reTrim = new RegExp(trimEnd);

						var regEx = new RegExp();
						let branchName =
							this.storyType +
							this.inputText
								.replace(/['`"]+/g, "")
								.replace(reAll, this.slugChar)
								.substr(0, this.maxChars)
								.replace(reTrim, "");

						this.outputText = branchName;
						this.copyText = "Copy";
					},
					copyToClipboard: function () {
						navigator.clipboard
							.writeText(this.outputText)
							.then(() => {
								console.info("'" + this.outputText + "' copied to clipboard!");
							})
							.catch((err) => {
								console.error("Something went wrong", err);
							});
						this.copyText = "Copied!";
					},
				},
			});
		</script>
	</body>
</html>
