body {
	font-size: 20px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	text-align: center;
}

h1 {
	font-family: "Courier New", Courier, monospace;
}

#app {
	margin-top: 5%;
	vertical-align: middle;
	height: 100%;
}

#options {
	display: flex;
	justify-content: center;
}

#options span {
	flex-direction: row;
	margin: 0.5em;
}

textarea {
	margin: 1em;
	padding: 1rem;
	border-radius: 3px;
	font-size: large;
}

#story-type {
	margin-bottom: 0.5em;
}

#story-type label {
	cursor: pointer;
	border-radius: 5px;
	padding: 3px;
	min-width: 5em;
	display: inline-block;
	text-align: center;
}

#story-type input {
	visibility: hidden;
	height: 0;
	width: 0;
}

#none + label {
	color: darkgrey;
	border: 1px darkgrey solid;
}

#none:checked + label {
	color: white;
	background-color: darkgrey;
}

#us + label {
	color: royalblue;
	border: 1px royalblue solid;
}

#us:checked + label {
	color: white;
	background-color: royalblue;
}

#release + label {
	color: purple;
	border: 1px purple solid;
}

#release:checked + label {
	color: white;
	background-color: purple;
}

#bug + label {
	color: darkred;
	border: 1px darkred solid;
}

#bug:checked + label {
	color: white;
	background-color: darkred;
}

#hotfix + label {
	color: red;
	border: 1px red solid;
}

#hotfix:checked + label {
	color: white;
	background-color: red;
}

button {
	padding: 0.5rem;
	margin-top: 1em;
}

#result {
	display: flex !important;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#result span {
	background: url("https://cdn.iconscout.com/icon/free/png-512/git-branch-2336962-1982843.png?f=avif&w=256");
	background-position: left - 10px;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: lightgray;
	background-size: 20px;
	font-family: "Courier New", Courier, monospace;
	padding: 1rem;
	border: 2px dashed grey;
	border-radius: 5px;
	cursor: copy;
	min-width: 100px;
	min-height: 1em;
}
